.App {
  text-align: center;
  background: black;
}

.Main {
  display: flex;
  /* align-items: flex-end; */
}

.dash {
  border-radius: 200px;
}
body {
  background: black;
}
/* .navHead {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
} */
