body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer a {
  padding: 20px;
}


td img {
  width: 20px;
    height: 20px;
}

.signupForm {
  display: flex;
    justify-content: center;
    flex-direction: row;
    height: 600px;
    align-items: center;
    
}

.signupForm input {
  height: 0px;
  width: 100%;
  border-radius: 5px;

}